html {
font-size: 15px;
}

.font16 {
font-size: 16px;
}

.font17 {
font-size: 17px;
}

.font18 {
font-size: 18px;
}

.font19 {
font-size: 19px;
}

.font20 {
font-size: 20px;
}

.monol {
font-family:monospace;
font-size: 14px;
}

.mono {
font-family: monospace;
}

.success {
color: green;
}

.primary {
color: blue;
}

.secondary {
color: gray;
}

.warning {
color: orange;
}

.danger {
color: red;
}

.left {
text-align: left;
}

.center {
text-align: center;
}

.right {
text-align: right;
}

.bottom0 {
margin-bottom:0px;
}

.bottom1 {
margin-bottom:1px;
}

.bottom2 {
margin-bottom:2px;
}

.bottom3 {
margin-bottom:3px;
}

.bottom5 {
margin-bottom:5px;
}

.bottom10 {
margin-bottom:10px;
}

.top0 {
margin-top:0px;
}

.top5 {
margin-top:5px;
}

.top10 {
margin-top:10px;
}

.middle {
vertical-align:middle; /* non va */	
}

/*
a:hover   {
text-decoration:none;
}
*/

.tc {
background-color:#f0f0ff;
}

.tcl {
font-size:15px;
background-color:#f0f0ff;
}

.tcc {
font-size:15px;
text-align:center;
background-color:#f0f0ff;
}

.tcr {
font-size:15px;
text-align:right;
background-color:#f0f0ff;
}

.my-sidebar {
/* -ms-flex: 0 0 200px; */
flex: 0 0 200px;
/* background-color: #ebffe1; */
background-color: #ffffff;
text-align: right;
}

.my-sidemin {
/* -ms-flex: 0 0 100px; */
flex: 0 0 100px;
/* background-color: #ebffe1; */
background-color: #ffffff;
text-align: right;
}

.my-sidebig {
/* -ms-flex: 0 0 400px; */
flex: 0 0 400px;
/* background-color: #ebffe1; */
background-color: #ffffff;
text-align: right;
}

@media (max-width: 1200px) {
  .my-sidebar {
  display: none; 
  } 
}

.btn-group-xs > .btn, .btn-xs {
padding: .30rem .4rem;
font-size : .800rem;
line-height : .50;
border-radius: .2rem;
}

textarea.form-fixer {
font:14px/normal monospace;
margin-bottom:0.5em;
}

input.form-control {
font:15px/normal monospace;
margin-bottom:0.2em;
}

select.form-control {
font:15px/normal monospace;
margin-bottom:0.2em;
}

.fix {
font-family: monospace;
font-size: 15px;
font-style: normal;
display:inline;
}

.fix-big {
font-family: monospace;
font-size: 16px;
font-style: normal;
display:inline;
font-variant: normal;
padding:5px;
}

.fix-huge {
font-family: monospace;
font-size: 30px;
display:inline;
font-variant: normal;
padding:5px;
}

.waveform {
height: 200px;
}

.waveform_promo {
height: 100px;
}

.pad10 {
padding-left: 10px;
padding-right: 10px;
}

.anchor {
position: relative;
top: -85px;
}

.navbar-inner {
background:transparent;
}