body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

main {
    margin-top: 80px;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.album-art {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.label-logo {
    width: 50px;
    height: auto;
    display: block;
    margin: 20px auto;
}

audio {
    width: 100%;
}
