body {
  background-color: #222222;
  color: #cccccc;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

header a {
  color: #cccccc;
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
}

header img {
  height: 40px;
}

nav {
  display: flex;
}

main {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 80%;
  text-align: center;
}

section#home h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

section#music h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

section#music ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section#music li {
  margin-bottom: 30px;
}

section#music h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

audio {
  width: 100%;
}

form {
  margin-top: 20px;
  text-align: center;
}

input[type="radio"] {
  margin-right: 5px;
}

footer {
  background-color: #333333;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cccccc;
  font-size: 20px;
}

iframe {
    display:block;
    margin:auto;
}

.album-art-container img {
  width: 500px;
  height: 500px;
}
